.content {
  width: 60%;
  margin: 0 auto;
  font-family: "Redacted";
  color: #ddd;
  margin-top: 20px;
  font-size: 24px;
  h1,
  h3,
  p,
  blockquote {
    margin-bottom: 10px;
    line-height: 40px;
  }
  blockquote {
    padding: 10px;
    border-left: 5px solid green;
  }
  div {
    height: 300px;
    width: 550px;
    background-color: #ddd;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
